<div class="row m-5" data-controller="shop">
    <div class="col-md-3 offset-1">
      <%= link_to("Retour à l'accueil", root_path, class: "btn-flat btn-lg") %>
    </div>
    <div class="col-md-3 offset-md-5">
        <% if I18n.locale == I18n.default_locale %>
          <div id="eng">
            <img src="https://duckduckgo.com/i/032f08bb.png" class="img-thumbnail img-eng"  alt="eng">
            <%= link_to "English", { :locale=>'en' } %>
          </div>
        <% else %>
          <div id="fra">
            <img src="https://duckduckgo.com/i/41a66227.png" class="img-thumbnail img-fra"  alt="fr">
            <%= link_to "Francais", { :locale=>'fr',class: "" } %>
          </div>
        <%end%>
    </div>
</div>

<div class="container bg-light border rounded mb-3">
  <h2 class="blue mt-2">Magasin de <%= @shop.name %></h2>
</div>

<div class="container bg-light border rounded mb-2">
  <div class="row">
    <div class="col-8">
      <img src="https://blog.ippon.fr/content/images/2020/09/streets.png" alt="mapbox" class="img-thumbnail">
    </div>
    <div class="col-4 text-center p-2" >
      <em>Adresse: <%= @shop.address %></em>
      <ul class="list-group p-2" id="dayList">

        <% @shop.hourlys.each do |hourly| %>

          <li id="day1" class="list-group-item"><%= t(:Lundi) %> <%= hourly.monday %></li>
          <li id="day2" class="list-group-item"><%= t(:Mardi) %> <%= hourly.tuesday %></li>
          <li id="day3" class="list-group-item"><%= t(:Mercredi) %> <%= hourly.wednesday %></li>
          <li id="day4" class="list-group-item"><%= t(:Jeudi) %> <%= hourly.thursday %></li>
          <li id="day5" class="list-group-item"><%= t(:Vendredi) %> <%= hourly.friday %></li>
          <li id="day6" class="list-group-item"><%= t(:Samedi) %> <%= hourly.saturday %></li>
          <li id="day7" class="list-group-item"><%= t(:Dimanche) %> <%= hourly.sunday %></li>

        <% end %>
      </ul>
    </div>
  </div>

</div>
